:host {
    --content-padding: 10px;
}

a {
    text-decoration: none;
}

header {
    height: 60px;
    padding: var(--content-padding);
    box-shadow: 0px 5px 25px var(--shadow-color);
}

header h1 {
    display: inline;
    padding: 10px;
}

header button {
    float: right;
}

.content {
    padding: var(--content-padding);
}